.container-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
}

.container-app input {
    width: 540px;
    border: 1px solid rgb(187, 187, 187);
    z-index: 2;
}

.container-app ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-app__mask {
    width: 100vw;
    height: 300px;
    background: linear-gradient(225deg, #5596ff 0%, #ac2deb 100%);
    position: absolute;
    opacity: 0.6;
}

.container-app__header {
    background-image: url("./assets/background.png");
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.container-app__header h1 {
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    width: 540px;
    z-index: 2;
}

input::placeholder {
    color: #9495a5;
}